.profile {
  height: 93.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // max-width: 1380px;
  // margin-left: auto;
  // margin-right: auto;
  background-color: rgb(234, 237, 237);
  &__avatar {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
