.header {
  height: 60px;
  // display: flex;
  // align-items: center;
  // background-color: rgb(101, 192, 78);
  background-image: linear-gradient(135deg, rgb(47, 89, 37), rgb(101, 192, 78));

  // justify-content: center;
  position: static;
  top: 0;
  z-index: 100;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2);
  &__container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
  }
  &__logo {
    margin: 0 10px;
    margin-top: 5px;
    border-radius: 24px;
  }
  &__nav {
    display: flex;
    justify-content: space-evenly;
    &-option {
      display: flex;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
      & span {
        font-weight: 600;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: #fff;
  }
}

.MuiTypography-root {
  align-self: center;
  margin: none;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: capitalize;
}
