.accountSettings {
  height: 93.3vh;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 2px;
  &__sideBar {
    width: 30%;
    border: 1px solid lightgray;
    border-right: none;
  }
  &__options {
    width: 70%;

    border: 1px solid lightgray;
  }
}
